<html>
<head>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div  class="container-fluid" >
    <div class="row">
        <div class="col-md-4 col-md-offset-5">
             <h3>Please login </h3>
            </div>
        </div>
   <div class="row">
        <div class="col-md-4 col-md-offset-5">
               <form class="form-horizontal" action="" method="POST" {% if uf.is_multipart %}enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}
    {{ uf.media }}

    {% for field in uf.visible_fields %}
        <div class="control-group {{ field.html_name }} {% if field.errors %}error{% endif %}">
            <label class="control-label">{{ field.label }}{% if field.field.required %} *{% endif %}</label>
            <div class="controls">
                {{ field }}
                {% if field.errors %}<span class="help-inline">{{ field.errors.as_text }}</span>{% endif %}
            </div>
        </div>
    {% endfor %}
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}

      <br>
    <div class="form-actions">
        <input class="btn btn-primary btn-large" type="submit" value="Submit"/>
                    </div>
            <a href="/regist/" >Sign up</a>
                </form>
           </div>
      </div>
</div>



</body>
</html>

